@model RECSALUD.Models.ViewModels.sesionesViewmodes

@{
	ViewBag.Title = "AGENDAR CITAS";
}


@using (Html.BeginForm("Create", "AGENDACITAS", FormMethod.Post, new { id = "formulario" }))
{
	@Html.AntiForgeryToken()
	<div id="respuesta"></div>
	<br />
	<div class="container" style="width:100%;background-color:rgba(208, 211, 212, .8);border-radius:50px">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="card" style="width:99%;padding-left:20px">
			<div class="card-header" style="text-align:center;background-color:#3498DB ;color:white;border-radius:20px"> <h3>DATOS DEL PACIENTE</h3></div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-4">
						N° DOCUMENTO
						@Html.EditorFor(model => model.documentop, new { htmlAttributes = new { @class = "form-control", @REQUIRED = "required" } })
						@Html.ValidationMessageFor(model => model.documentop, "", new { @class = "text-danger" })
					</div>
					<div class="col-md-4">
						TIPO DOCUMENTO
						@Html.DropDownList("tipodoc", null, htmlAttributes: new { @class = "form-control", @ID = "tipodoc" })
					</div>
					<div class="col-md-4">
						ENTIDAD
						@Html.EditorFor(model => model.ent, new { htmlAttributes = new { @class = "form-control" } })

					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						NOMBRE
						@Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @ID = "nombre", @REQUIRED = "required" } })

					</div>
					<div class="col-md-4">
						APELLIDO
						@Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control", @ID = "apellido", @REQUIRED = "required" } })
					</div>
					<div class="col-md-4">
						DIRECCIÓN
						@Html.EditorFor(model => model.dir, new { htmlAttributes = new { @class = "form-control", @ID = "dir", @REQUIRED = "required" } })
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						CORREO ELECTRONICO
						@Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @ID = "correo", @REQUIRED = "required" } })
					</div>
					<div class="col-md-4">
						TEL1
						@Html.EditorFor(model => model.tel1, new { htmlAttributes = new { @class = "form-control", @ID = "tel1", @REQUIRED = "required" } })
					</div>
					<div class="col-md-4">
						TEL2
						@Html.EditorFor(model => model.tel2, new { htmlAttributes = new { @class = "form-control", @ID = "tel2" } })
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						SESIONES
						@Html.EditorFor(model => model.sesiones, new { htmlAttributes = new { @class = "form-control", @ID = "sesiones", @REQUIRED = "required" } })
					</div>
				</div>
			</div>
		</div>

		<div class="card" style="width:99%;padding-left:20px">
			<div class="card-header" style="text-align:center;background-color:#3498DB ;color:white;border-radius:20px"> <h3>AGENDAR CITA</h3></div>
			<div class="card-body">
				<div class="row">

					<div class="col-md-4">
						
						PROFESIONAL DE SALUD
						@Html.DropDownList("profesional", null, "--seleccione una opcion--", htmlAttributes: new { @class = "form-control", @ID = "profesional", @REQUIRED = "required" })
					</div>
					<div class="col-md-4">
						OBSERVACIONES
						<input type="text" id="ob" class="form-control" />
					</div>
					<div class="col-md-4">
						<br />
						<input type="button" onclick="Agregar();" value="AGREGAR" class="btn btn-warning" return false; />
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-4">
						FECHA
						<input type="date" class="form-control" id="fechacita" />

					</div>
					<div class="col-md-4">
						HORA
						@Html.DropDownList("horacita", null, htmlAttributes: new { @class = "form-control", @ID = "horacita" })
					</div>
					<div class="col-md-4">
						<input type="submit" id="env" value="GUARDAR CITAS" class="btn btn-primary" />
					</div>
				</div>
				<br />
				<div class="row" id="citas">
					<h4 style="text-align:center">TABLA DE CITAS</h4>
					<div style="padding-left:250px;">
						<table id="tablacitas" style="width:70%;" class="table table-striped">
							<thead>
								<tr style="background-color:#34495E;color:white;">
									<th style="text-align:center">FECHA</th>
									<th style="text-align:center">HORA</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<br />
		<br />
		<div style="padding-left:150px;">
			
		</div>
		<br />
		<br />
	</div>
}
@section scripts
	{
	<script>
		var num = 0;
		$("#env").hide();
		
		function Agregar() {
			//BLOQUEAR CAMPO DE SESSIONES
			var rep = 0;
			let profesional = document.getElementById("profesional").value;
			let obser = document.getElementById("ob").value;
			let feci =  document.getElementById("fechacita").value;
			let hoci = document.getElementById("horacita").value;
			let hocitext = $('#horacita option:selected').text();
			let tabla = document.getElementById("tablacitas");
			let numses = document.getElementById("sesiones").value;
			console.log(numses);
			if (numses <= 0) {
				alert("SESIONES DEBEN SER MAYORES A 0");
			} else {
				if (num == numses)
				{
					alert("NUMERO DE CITAS ALCANZADAS");
				} else {
					//metodo for para recorrer tabla de registros no dejar guardar si esta repetido 
					let tabla1 = document.getElementById("tablacitas");
					for (let i = 0; i <= num + 1; i++) {
						
						if (feci == tabla1.rows[i].cells[0].innerHTML)
						{							
							rep = 1;
						}
					}
					if (rep == 1) {
						rep = 0;
						alert("PACIENTE NO PUEDE TENER DOS CITAS EN EL MISMO DIA");
					}
					else
					{
						if (document.getElementById("profesional").value == null || document.getElementById("profesional").value == "") {
							alert("PROFESIONAL DE SALUD NO SELECCIONADO");
						} else {
							// propiedades de la tabla
							let TR = document.createElement("tr");
							let TDfecha = document.createElement("td");
							let TDhora = document.createElement("td");
							TR.appendChild(TDfecha);
							TR.appendChild(TDhora);
							//agregamos el texto a la tabla
							TDfecha.innerHTML = feci;
							TDhora.innerHTML = hocitext;
							tabla.appendChild(TR);
							// agrgamos los hidens los que se enviaranpor post
							let divcitas = document.getElementById("citas");

							let HiddenIndex = document.createElement("input")
							let HiddenProfe = document.createElement("input")
							let HiddenObser = document.createElement("input")
							let HiddenFecha = document.createElement("input")
							let Hiddenhora = document.createElement("input")

							HiddenIndex.name = "citas.Index";
							HiddenIndex.value = num;
							HiddenIndex.type = "hidden";
							HiddenFecha.name = "citas[" + num + "].fechacita";
							HiddenFecha.value = feci;
							HiddenFecha.type = "hidden";
							Hiddenhora.name = "citas[" + num + "].horacita";
							Hiddenhora.value = hoci;
							Hiddenhora.type = "hidden";
							HiddenProfe.name = "citas[" + num + "].profesional";
							HiddenProfe.value = profesional;
							HiddenProfe.type = "hidden";
							HiddenObser.name = "citas[" + num + "].observaciones";
							HiddenObser.value = obser;
							HiddenObser.type = "hidden";

							// AGREGAMOS LOS HIDDEN AL DIV CITAS
							divcitas.appendChild(HiddenIndex);
							divcitas.appendChild(HiddenFecha);
							divcitas.appendChild(Hiddenhora);
							divcitas.appendChild(HiddenProfe);
							divcitas.appendChild(HiddenObser);

							//colocando los campos vacios
							document.getElementById("fechacita").value = "";
							document.getElementById("horacita").value = "";
							num++; // aumenta contador
							if (numses == num) {
								$("#env").show();
							}
							$("#sesiones").attr("readonly", "readonly");
						}
					}
				}
			}
			}




	//************* EXTRAER DATOS PACIENTE****************//

		$(function () {
			$("#documentop").change(function () {

				var url = "@Url.Content("~/AGENDACITAS/getpaciente")";
				var paciente = $("#documentop").val();
				var data = { documento: paciente };
				$.post(url, data).done(function (res) {
					if (res == "") {
						alert("USUARIO NO REGISTRADO ANTERIORMENTE ASEGURESE DE COMPLETAR TODOS LOS CAMPOS")
						document.getElementById("ent").value ="";
						document.getElementById("nombre").value = "";
						document.getElementById("apellido").value = "";
						document.getElementById("dir").value ="";
						document.getElementById("tel1").value = "";
						document.getElementById("tel2").value = "";
						document.getElementById("sesiones").value = "";
						document.getElementById("correo").value = "";
					} else {
						if (res.ses > 0) {
							alert("PACIENTE CON --" + res.ses + "-- SESIONES PENDIENTES");
							document.getElementById("documentop").value = "";
						} else {
							alert("USUARIO  REGISTRADO ANTERIORMENTE AGENDE CITA (CUALQUIER CAMBIO EN LOS DATOS DEL PACIENTE NO SERAN GUARDADOS)")

					// COLOCACION DE DATOS PACIENTE EN CADA CAMPO.
							document.getElementById("tipodoc").value = res.tipodoc;
							document.getElementById("ent").value = res.ent;
							document.getElementById("nombre").value = res.nombre;
							document.getElementById("apellido").value = res.apellido;
							document.getElementById("dir").value = res.dir;
							document.getElementById("tel1").value = res.tel1;
							document.getElementById("tel2").value = res.tel2;
							document.getElementById("sesiones").value = res.ses;
							document.getElementById("correo").value = res.correo;
							// BLOQUEO DE CAMPOS AL ENCONTRAR PACIENTE REGISTRADO
							$("#tipodoc").attr("readonly", "readonly");
							$("#ent").attr("readonly", "readonly");
							$("#nombre").attr("readonly", "readonly");
							$("#apellido").attr("readonly", "readonly");
							$("#dir").attr("readonly", "readonly");
							$("#tel1").attr("readonly", "readonly");
							$("#tel2").attr("readonly", "readonly");
							$("#correo").attr("readonly", "readonly");

						}
					}

				}).fail(manejarErrorAjax).always(function () {
					//esta funcion siempreseejecuta

				});
			});
			function manejarErrorAjax(err) {
				console.log(err.responseText);

			}
			});
	//************* FIN EXTRAER DATOS PACIENTE****************//

		//************* HORAS DISPONIBLES **********************//

		$(document).ready(function () {
			$("#fechacita").change(function () {
				$('#horacita').empty();
				$.getJSON('/AGENDACITAS/GetHoras', { fecha: $('#fechacita').val(), profesional: $('#profesional').val() }, function (data) {
					$.each(data, function () {
						$('#horacita').append('<option value=' +
							this.Value + '>' + this.Text + '</option>');
					});
				});
			});
		});

	//************* FIN HORAS DISPONIBLES **********************//
		$(document).ready(function () {
			$("#profesional").change(function () {
				$('#horacita').empty();	
				document.getElementById("fechacita").value = "";
			});
		});

		// VALIDARFORMULARIO NO CAMPOSINCORRECTOS
		function validarFormulario(evento) {
			evento.preventDefault();
			if (document.getElementById("sesiones").value < num + 1) {
				alert("TCITAS AGENADAS MENOR A SESIONES DEL PACIENTE");
			}
			else {
				this.submit();
			}
			
		}



	</script>
}
